<?xml version="1.0" encoding="utf-8" ?>
<!-- XSD manual extracted from package NLog.Schema: https://www.nuget.org/packages/NLog.Schema-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="c:\temp\console-example-internal.log"
      internalLogLevel="Info" >


  <variable name="myvar" value="myvalue"/>

  <variable name="HeaderLayout" value="${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}-----------${appdomain} Start Logging---------------------"/>
  <variable name="FooterLayout" value="${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}-----------${appdomain} End   Logging---------------------"/>

  <variable name="Subject" value="${machinename}|${logger}|${uppercase:${level}}|${date}"/> 

  <variable name="Default"
            value="${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}|${pad:padding=5:inner=${level:uppercase=true}}|${logger}|${all-event-properties}
|${message}|${exception:innerFormat=ToString:maxInnerExceptionLevel=5:format=ToString}
"/>  

  <variable name="Detail" value="
Time     :${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}${newline}
Level    :${uppercase:${level}}${newline}
Machine  :${machinename}${newline}
Process  :${processid}|${processname}${newline}
Thread   :${threadid}${threadname}${newline}
Logger   :${logger}${newline}
all-event-properties:${all-event-properties}${newline}
call     :${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true:skipFrames=0}${newline}
stack    :${stacktrace:format=Flat}${newline}
exception:${exception:innerFormat=ToString:maxInnerExceptionLevel=3:format=ToString}${newline}
message  :${message}${newline}
------------------------------------------------------------------------"/>

  <variable name="WebDefault"
            value="${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}|${pad:padding=5:inner=${level:uppercase=true}}
|${aspnet-TraceIdentifier}|${logger}|${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true}
|${all-event-properties}${newline}${message}${exception:innerFormat=ToString:maxInnerExceptionLevel=5:format=ToString}
"/>  

  <variable name="WebDetail" value="
Time     :${longdate:format=yyyy-MM-dd HH\:mm\:ss.mmmm}${newline}
Level    :${uppercase:${level}}${newline}
Machine  :${machinename}${newline}
Process  :${processid}|${processname}${newline}
Thread   :${threadid}$|{threadname}${newline}
Logger   :${logger}${newline}
TraceIdentifier:${aspnet-TraceIdentifier}${newline}
Host     :${aspnet-Request-Host}${newline}
Method   :${aspnet-request-method}${newline}
Request-Url:${aspnet-request-url:IncludePort=true:IncludeQueryString=true}${newline}
Useragent:${aspnet-request-useragent}${newline}
isAuthenticated:${aspnet-user-isAuthenticated}${newline}
Request-ip:${aspnet-request-ip}${newline}
Request-referrer:${aspnet-request-referrer}${newline}
Request-cookie:${aspnet-request-cookie}${newline}
all-event-properties:${all-event-properties}${newline}
MVC-Action:${aspnet-mvc-action}${newline}
MVC-Controller:${aspnet-mvc-controller}${newline}
call     :${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true:skipFrames=0}${newline}
stack    :${stacktrace:format=Flat}${newline}
exception:${exception:innerFormat=ToString:maxInnerExceptionLevel=3:format=ToString}${newline}
message  :${message}${newline}
------------------------------------------------------------------------"/>

  <!-- the targets to write to -->
  <targets>
    <!-- write logs to console -->
    <target xsi:type="Console" name="Console" layout="${Default}" />
    <target xsi:type="ColoredConsole" name="ColoredConsole" encoding="utf-8"
          layout="${Default}"
          header="${HeaderLayout}"
          footer="${FooterLayout}"
          useDefaultRowHighlightingRules="true"
          errorStream="false"
          detectConsoleAvailable="true"/>    
    
    <!-- write logs to file -->   
    <target name="File"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/log/${shortdate}.log"
            layout="${WebDefault}"
            header="${HeaderLayout}"
            footer="${FooterLayout}"
            />    
    <target name="FileError"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/log/${shortdate}.err.log"
            layout="${WebDetail}"
            />
    <target name="FileTrace"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/log/Trace/${date:format=yyyy-MM-dd_HH}.detail.log"
            layout="${WebDetail}"
            header="${HeaderLayout}"
            footer="${FooterLayout}"
            /> 
    <target name="WebFile"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/log/${shortdate}.Web.log"
            layout="${WebDefault}"
            header="${HeaderLayout}"
            footer="${FooterLayout}"
            />
    <target name="MicrosoftFile"
            xsi:type="File"
            encoding="utf-8"
            fileName="${basedir}/log/${shortdate}.Microsoft.log"
            layout="${WebDefault}"
            header="${HeaderLayout}"
            footer="${FooterLayout}"
            />                     
   
    <!-- write logs to Email -->   
    <target name="Mail"
        xsi:type="Mail"        
        subject="${Subject}"
        layout="${Detail}"        
        encoding="utf-8"
        html="false"
        addNewLines="true"
        replaceNewlineWithBrTagInHtml="false"                
        to="waynehuang@foyatech.com"        
        from="parkpaycar@foyatech.com"        
        smtpUserName="parkpaycar"
        enableSsl="false"
        smtpPassword="dgdcq384xz"
        smtpAuthentication="Basic"
        smtpServer="foyatech.com"
        smtpPort="25"         
        />      

  </targets>

  <extensions>
      <add assembly="NLog.MailKit"/>
  </extensions>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger enabled="true" name="WDev*" minlevel="Trace" writeTo="WebFile" />
    <logger enabled="true" name="Microsoft*" minlevel="Trace" writeTo="MicrosoftFile" />
    <logger enabled="true" name="*" minlevel="Trace" writeTo="ColoredConsole,File" />    
    <logger enabled="true" name="*" minlevel="Error" writeTo="FileError" />
    <logger enabled="true" name="*" minlevel="Trace" writeTo="FileTrace" />  

    <logger enabled="false" name="*" minlevel="Trace" writeTo="Console,ColoredConsole,File,FileError,FileTrace" />
    <logger enabled="false" name="*" minlevel="Fatal" writeTo="Mail" />    
    <logger enabled="false" levels="Trace,Debug,Info,Warn,Error,Fatal" writeTo="Console,ColoredConsole,File,FileTrace,FileError,Mail"/>    
  </rules>
</nlog>